# Global
## Env
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

## Ignore Cache files
.cache/
deno.lock
node_modules
dist

## Database
db/

# Bot
## Temporary files
temp/
logs/

# Dashboard
## Fresh build directory
_fresh/
